/* styles.css */

:root {
    --text-color: #383737;
    --link-color: #4a76ee;
    --background-color: #bebebe;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

/* Top Nav bar*/
nav {
    display: flex;  
    justify-content: space-between;
    background-color: rgb(91, 202, 202);
    padding: 0 60px;
    align-items: center;
    height: 100px;
}
nav .left a {
    color: var(--text-color);
    font-size: 33px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
}

/* Personal Information area*/

.personalinfo .text {
    justify-content: center;
    display: flex;
}
.personalinfo .text h2{
    font-size: 40px;
}
.personalinfo .paragraph {
    margin: 50px 450px;
    font-size: 22px;
    justify-content: center;
    display: flex;
}
.personalinfo .picture {
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
.personalinfo .picture img {
    width: 450px;
    height: 500px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
}
.personalinfo {
    justify-content: center;
    display: center;
    padding: 0 50px;
    margin: 75px 0;
}

