/* styles.css */
:root {
    --text-color: #383737;
    --link-color: #4a76ee;
    --background-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

/* Top Nav bar*/
nav {
    display: flex;  
    justify-content: space-between;
    background-color: rgb(91, 202, 202);
    padding: 0 60px;
    align-items: center;
    height: 100px;
}
nav .left a {
    color: var(--text-color);
    font-size: 33px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
}

/* Personal Information area*/

.personalinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20 50px;
    margin: 50px 10;
    gap: 40px;
}
.personalinfo .paragraph {
    margin-left: 200;
    font-size: 30;
}
.personalinfo .paragraph h2{
    font-size: 60;
}

.personalinfo .picture {
    display: flex;
    justify-content: right;
    margin-right: 120px;
}

.personalinfo .picture img {
    display: flex;
    width: 450px; 
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
}


/* Skills */

.skills {
    padding: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.skills h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.skills .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.skills .picture img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
}

/* Flexbox to arrange images side by side */
.skills .pictures-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
}



@media screen and (max-width: 800px) { 
}
.floating-nav {
    position: fixed;
    left: 2%;
    top: 40%; 
    transform: translateY(-25%);
    display: flex;
    flex-direction: column;
    gap: 15px;

    font-size: 20;
}

.nav-item {
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
    background: rgba(255, 255, 255, 0); 
}

.nav-item:hover {
    background-color: #357ABD;
}
.nav-item:hover {
    background-color: rgb(91, 202, 202); /* Light grey with transparency */
    transform: scale(1.2); /* Grows by 10%, approximately 5px */
}
